
* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  user-select: none;

}
body {
  background: #f49841;
}

.background {
  width: 1100px;
  height: 600px;
  overflow: hidden;
  position: relative;
}
.background > .sod {
  width: 755px;
  height: 117px;
  position: absolute;
  z-index: 30;
  left: 244px;
  top: 280px;

}
.background > .plants-container {
  position: absolute;
  height: 117px;
  left: 0;
  top: 290px;
  z-index: 99;

}
.background > .zombies-container {
  position: absolute;
  left: 0;
  top: 230px;
  z-index: 40;
}
.plant {
  position: absolute;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  left: 0px;
  top: 0px;
}

.zombie {
  position: absolute;
  top: 0;
  left: 10px;
}


.bullet {
  position: absolute;
  width: 34px;
  height: 34px;
  z-index: 900;
  top: 0px;
  margin: 0 auto;
}
.sun {
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 900;
}
.game-console {
  width: 700px;
  height: 100px;
  margin-left: 170px;
  border: 2px solid blue;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  border-radius: 14px;
  padding: 26px;
}
.plant-console {
  width: 100px;
  height: 60px;
  position: relative;
  background-size: cover;
}
.plant-console > span {
  margin-left: 64px;
  top: 40px;
  z-index: 300;
  position: absolute;
  font-weight: 600;
}
#peashooter {
  background: url(../assets/plants/peashooterGray.png);
}
#walnut {
  background: url(../assets/plants/walNutGray.png);
}
#peashooter-active {
  background: url(../assets/plants/peashooter.png);
}
#walnut-active {
  background: url(../assets/plants/walNut.png);
}
.sun-bank {
  width: 250px;
  height: 64px;
  background: url(../assets/plants/sunBank.png);
  background-size: cover;
}
#suncount {
  position: absolute;
  font-size: 18px;
  font-weight: 600;
  margin-left: 150px;
  margin-top: 20px;
}
